<div class="login-container p-grid p-justify-center p-align-center card">
    <div class="p-col-12 p-sm-6 p-md-4">
      <p-card>
        <div class="text-center">
          <div class="p-col-12">
            <i class="fa-solid fa-car-rear fa-4x"></i>
            <h2>Loja de Carros</h2>
          </div>
          <div class="p-col-12 form-field">
            <label for="username">Usuário:</label>
            <input id="username" type="text" pInputText class="p-col-12" />
          </div>
          <div class="p-col-12 form-field">
            <label for="password">Senha:</label>
            <input id="password" type="password" pInputText class="p-col-12" />
          </div>
          <div class="p-col-12">
            <p-button label="Entrar" class="p-col-12" ></p-button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  